.header-wrapper {
  margin-left: -8px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 3px solid #8d6e63;
  background: linear-gradient(to bottom, #ffffff, #64504c);
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-links {
  display: flex;
  position: relative;
  justify-content: center; /* Align links to the right */
  flex-grow: 1;
  orientation: rtl;
  direction: rtl;
  margin: 10px;
  width: 100px;
  height: 50px;
  white-space: nowrap;
  border-radius: 2%;
  vertical-align: center;
  padding-top: 20px;
}

.header-links > * {
  margin-inline: 20px;
}

.logo-image {
  border-radius: 3%;
  border: linear-gradient(to bottom, #ffffff, #64504c) 10px solid;
}

body, .area {
  max-width: 100vw;
  overflow-x: hidden;
  color: #000000;
  padding-top: 70px; /* Adjust the value based on your header height */
}

body[lang="en"] {
  font-family: 'YourEnglishFont', sans-serif;
}

/* Persian Font */
body[lang="fa"] {
  font-family: 'YourPersianFont', sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}
.header-links:hover{
  color: whitesmoke;
  font-weight: 900;
  background-color: #6d6462; 
  border:#5c4545 3px solid;
  width: 120px;
  height: 60px;
  box-shadow: 3px 3px 6px 1px #3c3c3c;
}

.language-select{
  font-family: 'Courier New', Courier, monospace;
  background-color: #735a5c;
  border: #8d6e63 1px double;
  border-radius: 2%;
  height: 50px;
  width: 50px;
}

.menu-button {
  width: 30px;
  height: 3px;
  background-color: #333; /* Adjust the color as needed */
  position: relative;
  cursor: pointer;
}

.menu-button::before,
.menu-button::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: inherit;
  position: absolute;
  transition: 0.4s;
}

.menu-button::before {
  top: -10px;
}

.menu-button::after {
  bottom: -10px;
}

.menu-button.open::before {
  transform: rotate(-45deg) translateY(10px);
}

.menu-button.open::after {
  transform: rotate(45deg) translateY(-10px);
}
.more-button{
  background-image: url(https://fonts.gstatic.com/s/i/googlematerialicons/menu/v13/gm_grey600-24dp/1x/gm_menu_gm_grey600_24dp.png);
  background-size: 24px;
  height: 100%;
  width: 24px;
}

footer {
  background-color: #64504c;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

footer a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
}

.copyright {
  margin-top: 20px;
}